<% console %>
<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  
  <h3>Friends</h3>


    <h3>Pending requests</h3>
    <% @pending_requests & @pending_requests.each do |r| %>
      <div class="mt-4">
        <p><%= r.friend.name %></p>
        <div class="mt-4">
          <%= link_to "Accept", friendship_path, class: ["btn", "btn-primary"], method: :patch %>
          <%= link_to "Reject", friendship_path, class: ["btn", "btn-secondary"], method: :delete %>
        </div>
      </div>
    <% end %>
  
</section>
