<% console %>
<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  
  <h3 class="mt-4" >Friends</h3>
  <% friends(@user) & friends(@user).each do |f| %>
    <%= f.friend.name %>
  <% end %>

  <h3 class="mt-4" >Mutual Friends</h3>
  <% if current_user != @user %>
    <% mutual_friends(current_user, @user) & mutual_friends(current_user, @user).each do |f| %>
      <p><%= f.name %></p>
    <% end %>
  <% end %>

    <% if current_user == @user %>
    <h3 class="mt-4">Pending requests</h3>
      <% @pending_requests & @pending_requests.each do |r| %>
        <div class="mt-4">
          <p><%= r.friend.name %></p>
          <div class="mt-4">
            <%= link_to "Accept", friendship_path(id: r.friend.id), class: ["btn", "btn-primary"], method: :patch %>
            <%= link_to "Reject", friendship_path(id: r.friend.id), class: ["btn", "btn-secondary"], method: :delete %>
          </div>
        </div>
      <% end %>
    <% end %>
  
</section>
